<style>
.googlecalendar-800 {
  display: none;
}
@media only screen and (min-width: 900px) {
  .googlecalendar-300 {
    display: none;
  }
  .googlecalendar-800 {
    display: initial;
  }
}
</style>
<iframe class="googlecalendar-300"
	sandbox="allow-scripts allow-same-origin allow-popups-to-escape-sandbox allow-popups" 
	referrerpolicy="no-referrer"
	src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FHelsinki&showTz=1&title&hl=en_GB&mode=AGENDA&showCalendars=0&showPrint=0&showNav=0&showTabs=0&showDate=0&src=Y19hN3MybDc5bWxxcGNxcXBtMGFhdTloY2U1a0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60" 
	style="border:solid 1px #777" 
	width="300" height="600" frameborder="0" scrolling="no"></iframe>
<iframe 
	class="googlecalendar-800"
	sandbox="allow-scripts allow-same-origin allow-popups-to-escape-sandbox allow-popups" 
	referrerpolicy="no-referrer" 
	src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FHelsinki&showTz=1&title&hl=en_GB&mode=AGENDA&showCalendars=0&showPrint=0&showNav=1&showTabs=1&showDate=1&src=Y19hN3MybDc5bWxxcGNxcXBtMGFhdTloY2U1a0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>


